@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FFFFFF;
    color: black; 
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0.5vw 5vw ;
    background-color: white;
    border-bottom: 2px solid gray ;
   
}

.header img{
    width: 3vw;
    height: 3vw;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.nav-bar {
    display: flex;
}


.nav-bar li a{
    color : black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 20px;
    transition: 0.4s ease-out;
}



 
.nav-bar li a:hover{
    color : white;
    background-color: black;
    border-radius: 15px;
}

.box-container{
    width: 100vw;
    height: 55vh;
    margin: 15vh 0vw;
    padding: 0px 6vw;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 25vw;
    height: 25vw;
    margin: 0px 0.8vw;
    border-radius: 15px;
    border: 1px solid black;
    
}

.box1{
background: linear-gradient(143deg, rgba(236,0,255,1) 35%, rgba(51,0,255,1) 100%);
box-shadow: 2px 2px gray;

}

.box2{
    box-shadow: 10px 20p gray;
    
}
.box2 img{
    width: 25vw;
    height: 25vw;
    padding:0.8vw;
}

.box3{
    background-color:#D9D9D9; 
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,6.66vw);
    grid-template-rows: repeat(3,6.66vw) ;
    gap: 0.4vw;
    box-shadow: inset  2px 2px 10px 5px gray;
    
}
.grid{
    background-color:#00407A;
    border-radius: 15px;
    border: 1px solid black;
}




@media screen and  (max-width:  600px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #faf5ff;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

 
  .header img{
    width: 10vw;
    height: 10vw;
}

  .nav-bar i{
    display: block;
    font-size: 10vw;
  }

  .box-container{
    display: block;
    margin: 15vh 0vw;
    padding: 0px 6vw;
  }

  .box{
    width: 80vw;
    height: 80vw;
    margin: 0px 0.8vw;
    
}
.box2{
  margin: 5vw 0vw;
}

.box2 img{
  width: 80vw;
  height: 80vw;
  padding:1.8vw;
}

.box3{
  grid-template-columns: repeat(3,23.33vw);
  grid-template-rows: repeat(3,23.33vw) ;
  gap: 1vw;
  box-shadow: inset  2px 2px 10px 5px gray;
}
  
}










/* home page css */ 

.section {
    background-color: #faf5ff;
  }
  
  .section__container {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .subtitle {
    letter-spacing: 2px;
    color: #6b7280;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: #1f2937;
    margin-bottom: 1rem;
  }
  
  .title span {
    font-weight: 600;
  }

  .action__btns {
    display: flex;
    gap: 1rem;
    margin-top: 50px;
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid #a855f7;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .linkedin {
    background-color:#a855f7;
    color: #ffffff;
  }
  .linkedin a{
    color: black;
  }
  
  .linkedin:hover {
    background-color: #9333ea;
  }
  
  .Instgram {
    color: #a855f7;
  }
  
  .Instgram:hover {
    background-color: #9333ea;
    color: #ffffff;
  }
  
  .image {
    display: grid;
    place-items: center;
  }
  
  .image img {
    width: min(25rem, 90%);
    border-radius: 100%;
  }


  @media (width < 750px){
    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
      }
    
      .image {
        grid-area: 1/1/2/2;
      }
    
      .action__btns {
        margin: auto;
      }
  }



